* text=auto

*.swift text eol=lf
*.pbxproj text eol=lf
*.plist text eol=lf
*.xcscheme text eol=lf
*.xcworkspacedata text eol=lf
*.resolved text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.json text eol=lf
*.strings text eol=lf
.gitignore text eol=lf
